# Dependencies
node_modules/
**/node_modules/

# Builds & Cache
dist/
**/dist/
build/
**/build/
.cache/

# Environment variables
.env
**/.env
.env.local
**/.env.local
.env.*.local
**/.env.*.local

# Logs & Uploads
logs/
**/logs/
*.log
npm-debug.log*
uploads/
**/uploads/

# IDE & OS files
.vscode/
.idea/
.DS_Store

